html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0e0e0e;
  color: #e5e2e1;
  font-family: "Geist", sans-serif;
  overflow-x: hidden;
  perspective: 1500px;
}

* {
  box-sizing: border-box;
}

#stack {
  scroll-margin-top: 0px;
}
