:root {
  --background: #0e0e0e;
  --surface: #131313;

  --primary: #c0c1ff;

  --aurora-indigo: #312e81;
  --aurora-violet: #4c1d95;

  --text: #e5e2e1;
  --text-muted: #c7c4d7;

  --glass-bg: rgba(255, 255, 255, 0.02);
  --glass-border: rgba(255, 255, 255, 0.08);
}
